@use "../variables" as *;

html {
  .mat-secondary {
    .mdc-linear-progress__bar-inner {
      border-color: var(--mat-sys-secondary);
    }
  }

  .mat-warning {
    .mdc-linear-progress__bar-inner {
      border-color: $warning;
    }
  }

  .mat-error {
    .mdc-linear-progress__bar-inner {
      border-color: var(--mat-sys-error);
    }
  }

  .mat-green {
    .mdc-linear-progress__bar-inner {
      border-color: #26AC59;
    }
  }

  .mat-light-green {
    .mdc-linear-progress__bar-inner {
      border-color: #00D09B;
    }
  }

  .mat-blue {
    .mdc-linear-progress__bar-inner {
      border-color: #00B1D3;
    }
  }

  // style

  .mat-mdc-progress-bar {
    border-radius: var(--mat-sys-corner-small);
  }
}
